* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

a {
	text-decoration: none;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	outline: none;
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

.btn-default {
    border: 3px solid #c3c3c3;
    color: #c9c8cb;
    padding: 14px 0;
     background: none; 
    font-size: 17px;
}

.layout {
	min-height: 100%;
}

.container {
	width: 960px;
	display: table;
	margin: 0 auto;
}

.header {
	border-bottom: 3px solid #000;
}

.header .nav li {
  display: inline-block;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 0;
}

.header .nav li a {
	margin: 0;
	padding: 20px 8px;
	display: block;
	color: #000;
	font-size: 17px;
}

.active {
  border-top: 2px solid #000 !important;
  border-left: 2px solid #000 !important;
  border-right: 2px solid #000 !important;
}

.category ul li.active {
  border: 0 !important;
}

.navbar {
  display: none;
}

.signup .btn-group {
    position: relative;
}

.toggle-signup {
    width: 350px;
    background: #000;
    position: absolute;
    right: 0;
    top: 54px;
    padding: 17px 62px 17px 25px;
    display: none;
    z-index: 9;
}

.signup .btn-group .send {
    width: 120px;
    padding: 6px;
    border: 2px solid #c3c3c3;
    float: right;
}

.signup .btn-group .btn-signup {
    background: none;
    font-size: 33px;
    display: block;
    margin: 11px 0 0 auto;
    border: none;
}

.signup-group {
  margin-bottom: 20px;
}

.signup .btn-group .toggle-signup input {
  background: none;
  border: 2px solid #ccc;
  width: 100%;
  padding: 8px 15px;
  outline: none;
  color: #fff;
}

::-webkit-input-placeholder {color:#fff;}
::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
:-moz-placeholder           {color:#fff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#fff;}


/* Content */
.content .items {
	padding: 10px 0;}


.category .category-item .title {
  text-align: center;
  background: #b97a57;
  padding: 13px 0;
}


.category .category-item {
      border-left: 3px solid #b97a57;
      height: 1000px;
}

.category .category-item:last-child {
  border-right: 3px solid #b97a57;
}

.category .category-item .item {
  padding: 13px 15px;
    border-bottom: 3px solid #b97a57;
    height: 50px;
    font-size: 19px;
}


.category .category-item .item strong {
  color: #8a8381;
}


.content .items .form .group-form {
  overflow: hidden;
  margin-bottom: 25px;
  position: relative;
}


.content .items .form .group-form  strong {
    border-right: 2px solid #c3c3c3;
    padding: 20px 0;
    float: left;
    width: 16.66666667%;
    text-align: center;
    color: #d0d0d2;
    position: absolute;
    z-index: 1;
}

.content .items .form .group-form  input {
    float: left;
    width: 100%;
    padding: 20px 0 20px 163px;
    border: none;
    outline: none;
    position: relative;
    border: 2px solid #c3c3c3;
}


.content .items .form button {
  width: 250px;
}

.txt-error {
  width: 100%;
    background: #fc2d0e;
    display: block;
    overflow: hidden;
    padding: 12px 25px;
    color: #fff;
    font-size: 17px;
}


/* Category News */
#news h2 {
  margin: 25px 0 15px 0;
}

.category ul {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #555;
}

.category ul li {
  display: inline-block;
}

.category ul li a {
    display: block;
    padding: 10px 30px 10px 0;
    color: #555;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.category ul li a:hover {
  color: #f60;
  text-decoration: none;
}

.content-category {
  margin: 30px 0;
  display: none;
}

.content-category p {
  color: #777;
  margin: 5px 0;
}


.content-category .article {
    overflow: hidden;
    border-bottom: 1px solid #999;
    padding: 50px 0;
}

.content-category .article .article-item time {
  color: #999;
}

.content-category .article .article-item.img {
    text-align: right;
}

.content-category .article .article-item strong a {
      color: #555;
    font-size: 21px;
}

.content-category .article .article-item p {
      margin: 10px 0;
    font-size: 17px;
    line-height: 21px;
}


.fld-error {
  border-right: 2px solid #ff0000 !important;
}

.fld-success {
  border-right: 3px solid rgb(35, 177, 77) !important;
}

/* Media queries */
.lg-1{float: left; width: 8.333%;}
.lg-2{width: 16.666%; float: left;}
.lg-3{float: left; width: 25%;}
.lg-4{float: left; width: 33.333%;}
.lg-5{float: left; width: 41.666%;}
.lg-6{float: left; width: 50%;}
.lg-7{float: left; width: 58.333%;}
.lg-8 {float: left; width: 66.666%;}
.lg-9 {float: left; width: 75%;}
.lg-10 {float: left; width: 83.333%;}
.lg-11 {float: left; width: 91.666%;}
.lg-12 {float: left;  width: 100%;}

@media (max-width: 1024px) {

  .container {
    width: 750px !important;
  }

.st-1{float: left; width: 8.333%;}
.st-2{width: 16.666%; float: left;}
.st-3{float: left; width: 25%;}
.st-4{float: left; width: 33.333%;}
.st-5{float: left; width: 41.666%;}
.st-6{float: left; width: 50%;}
.st-7{float: left; width: 58.333%;}
.st-8 {float: left; width: 66.666%;}
.st-9 {float: left; width: 75%;}
.st-10 {float: left; width: 83.333%;}
.st-11 {float: left; width: 91.666%;}
.st-12 {float: left;  width: 100%;}
}

@media (max-width: 768px) {

  .container {
    width: 100% !important;
  }
.md-1{float: left; width: 8.333%;}
.md-2{width: 16.666%; float: left;}
.md-3{float: left; width: 25%;}
.md-4{float: left; width: 33.333%;}
.md-5{float: left; width: 41.666%;}
.md-6{float: left; width: 50%;}
.md-7{float: left; width: 58.333%;}
.md-8 {float: left; width: 66.666%;}
.md-9 {float: left; width: 75%;}
.md-10 {float: left; width: 83.333%;}
.md-11 {float: left; width: 91.666%;}
.md-12 {float: left;  width: 100%;}

.header {
  padding: 0 15px;
}

.items {
      padding: 20px 15px !important;
    }

    .content .items .form .group-form  strong {
      width: 25% !important;
    }

    .content .items .form .group-form  input {
      text-align: center !important;
          padding-right: 40px !important;
    }

    .content-category .article .article-item time {
      margin-bottom: 20px;
      display: block;
    }
}

@media (max-width: 480px) {

  .container {
    width: 100% !important;
  }
.sm-1{float: left; width: 8.333%;}
.sm-2{width: 16.666%; float: left;}
.sm-3{float: left; width: 25%;}
.sm-4{float: left; width: 33.333%;}
.sm-5{float: left; width: 41.666%;}
.sm-6{float: left; width: 50%;}
.sm-7{float: left; width: 58.333%;}
.sm-8 {float: left; width: 66.666%;}
.sm-9 {float: left; width: 75%;}
.sm-10 {float: left; width: 83.333%;}
.sm-11 {float: left; width: 91.666%;}
.sm-12 {float: left;  width: 100%;}

    .header {
      padding: 0 56px;
    }
      .navbar {
        padding: 7px 0;
        display: block !important;
      }
      .navbar button {
        background: none;
        border: 0;
        font-size: 30px;
      }

      .signup .btn-group .btn-signup {
            margin: 6px 0 0 auto !important;
      }

    .tabs {
      display: none;
      position: absolute;
      background: #000;
      width: 100%;
      z-index: 99;
      left: 0;
      padding: 18px;
    }

    .tabs li {
      display: block !important;
    }

    .tabs li a {
    color: #fff !important;
    width: 115px;
    height: 45px;
    padding: 11px 8px !important;
    margin-bottom: 17PX;
    text-align: center;
    border: 1px solid transparent;
    margin-bottom: 15px !important;
    }

    .tabs li a:hover {
      border: 1px solid #f3c732;
    }

    .btn-group {
      position: static !important;
    }

    .toggle-signup {
      width: 100% !important;
      margin-top: -1px;
      padding-right: 75px;
      padding-left: 70px;
    }

    .items {
      padding: 20px 15px !important;
    }

    .content .items .form .group-form  strong {
      border: 2px solid #c3c3c3 !important;
      position: static !important;
      background: #c3c3c3;
      color: #fff !important;
      padding: 6px 0 !important;
      width: 25% !important;
    }

    .category .category-item .item {
          padding: 21px 15px !important;
          height: 66px !important;
          word-wrap: break-word;
    }

    .content .items .form .group-form  input {
          padding: 20px !important;
          text-align: left !important;
    }

    .category ul {
      text-align: center;
    }

    .content .items .form .group-form  strong.fld-error {
      border: 2px solid #ff0000 !important;
      background: #ff0000 !important;
    }

    .content .items .form .group-form  strong.fld-success {
      border: 3px solid rgb(35, 177, 77) !important;
      background: rgb(35, 177, 77) !important;
    }

    .content-category .article .article-item.img {
      text-align: center !important;
      margin-top: 20px;
    }
}